<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVFNT4NAEP0vc0ayUCzCzXipF5tooibGw7YMMAYWsjtUTcN/dwCpNPW0uzNv3sfsEQ5o
	HTXm3uQNpEfYdVRlD129QwspBMkmBA902z5PsKG2DnzlB6GShtuXWOtHPNDUDDxoK815
	Y2tBbp9eofegRtaZZj3Q19ox2hfKuIQ0VNGNDFCLFRn8U5A5PxL2CbxBKkoW7tU69qCx
	hIY1T3LCPmhpPg2LA519dI5rgTlI347/INDoXYUZpGw7lBTITKZwg8HyTM2x1cMbza0p
	KoT0Snmwb8xYN/ybQ2qf0y2I4pUHX1tLBYlULPG+58fZ5BxKSQLKxCrlNG78zjbtsPGO
	x++YzwsjaiGz0I8TiXfKECTXCwOJ6vv+vf8B
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2021-01-31T04:43:48Z</date>
</dict>
</plist>
