<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CollapsedSidebarSectionIdentifiers</key>
	<array/>
	<key>ExpandedSidebarItemIdentifiers</key>
	<array>
		<string>6D22D034-3EC1-4A35-B47D-4BC58B49E714/L0/020</string>
		<string>F1F6A576-9671-4962-BA32-0D66BFB62D71/L0/020</string>
		<string>PXMediaTypesVirtualCollection</string>
		<string>C65E68DE-CA8D-4474-9C29-6A0B87446011/L0/020</string>
	</array>
</dict>
</plist>
